<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
</head>
<body>
    <h1 style="text-align: center;" >Edit the Product</h1>
    <form action="/products/<%= product._id %>?_method=PUT" method="POST">
        <div>
            <label for="name"><strong>Product Name : </strong></label>
            <input type="text" name="name" id="name" placeholder="Product name" value="<%= product.name %>">
        </div>
        <br>
        <div>
            <label for="price"><strong>Price : </strong></label>
            <input type="number" name="price" id="price" placeholder="Price" value="<%= product.price %>">
        </div>
        <br>
        <div>
            <label for="category"><strong>Select Category : </strong></label>
            <select name="category" id="category">
                <% for(let category of categories){ %>
                    <option value="<%=category %>" style="text-transform: capitalize;" <%= product.category === category ? 'selected': '' %>><%= category %></option>
                <% } %>
            </select>
        </div>
        <br>
        <div>
            <label><strong>Select Sizes : </strong></label><br>
            <label><input type="checkbox" name="size.small" value=true <%=product.size.small ? 'checked': ''%>> Small - 'S' </label><br>
            <label><input type="checkbox" name="size.medium" value=true <%=product.size.medium ? 'checked': ''%>> Medium - 'M' </label><br>
            <label><input type="checkbox" name="size.large" value=true <%=product.size.large ? 'checked': ''%>> Large - 'L' </label><br>
            <label><input type="checkbox" name="size.extraLarge" value=true <%= product.size.extraLarge ? 'checked': ''%>> Extra Large - 'XL' </label><br>
        </div>
        <br> 
        <div>
            <label><strong>Quantity : </strong></label><br>
            <label for="qty.online"><strong>Online : </strong><input type="number" name="qty.online" id="qty.online" placeholder="Qty" value="<%= product.qty.online %>"></label><br>
            <label for="qty.inStore"><strong>In-Store : </strong><input type="number" name="qty.inStore" id="qty.inStore" placeholder="Qty" value="<%= product.qty.inStore %>"></label><br>
        </div>
        <br>       
        <div>
            <button><strong>Submit</strong></button>
        </div>

        <br>
        <br>
        <button><a href="/products/<%= product.id %>">Back to Product Details</a></button>
    </form>

    <br>
    <br>

    

</body>
</html>